вы вошли, как {{ array.name }}
<form action="/user/logout">
    <input type="submit" value="Выйти">
</form>
<br><br><br><br><br><br>

<form action="/post/sent" enctype="multipart/form-data" method="post">
    введите новый пост: <input type="text" size="40" name="post">
    <input name="image" type="file">
    <input type="submit" value="Отправить">
</form>

<br><br><br><br><br><br>


<form method="POST" action="/show/index">
    <input type="hidden" name="id"/>
    <input type="submit"  value="Смотреть всю ленту" />
</form>
<br><br><br><br>
{% if id_status.id == 1 %}
    Добавить нового пользователя
    <form action="/user/register" method="post">
    Имя: <input type="text" name="name"><br>
    Email: <input type="text" name="email"><br>
    Пароль: <input type="password" name="password"><br>
    Повторите пароль: <input type="password" name="password_repeat"><br>
    <input type="submit" value="Добавить пользователя">
</form>



<br><br><br><br>

    Редактирование данных пользователей
    <form action="/blog/find" method="post">
        Email: <input type="text" name="search_email"><br>
        <input type="submit" value="поиск">
    </form>
    <br><br>



{% endif %}

{% include 'search.twig' %}
